<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalender</title>
</head>

<body>
    <nav> <span id="previous">föregående</span> | <span id="next">nästa</span> </nav>

    <ul id="calendar"> </ul>

    <script>
        // ett datum kan initieras med ngn form av ursprung, ex strängen "2022-04-30" 
        let date = new Date(); 
        console.log("date", date); 
        
        // att lägga till en dag görs med funktionen setDate 
        date.setDate(date.getDate() - 7); 
        console.log("date", date); 
        let yyyymmdd = date.toLocaleDateString(); 
        console.log("yyyymmdd", yyyymmdd); 
        
        // i JavaScript startar varje vecka med sö - sunday 
        // med metoden getDay() får man en siffra som anger dag i veckan 
        let dayOfWeek = date.getDay(); 
        console.log("dayOfWeek", dayOfWeek); 
        
        /* 0 1 2 3 4 5 6 su mo tu we th fr sa må ti on to fr lö sö */ 
        function getWeekDates(date) { 
            let d = new Date(date); 
            let dayOfWeek = d.getDay(); 
            let preDays = -dayOfWeek; 
            let postDays = 7 + preDays; 
            let dates = []; d.setDate(d.getDate() + preDays); 
            
            for (let i = preDays; i < postDays; i++) { 
                d.setDate(d.getDate() + 1); 
                let yyyymmdd = d.toLocaleDateString(); 
                let obj = {date: yyyymmdd, dd: "något..."} 
                dates.push(obj); } 
                
                return dates; 
            
            } 
            
            let calendarDates = getWeekDates(date); 
            console.log("calendarDates", calendarDates); 
            
            // en referens till omslutande ul element
            const calendarElement = document.getElementById("calendar") 
            
            function showWeekDates(dates) { 
                // radera alla li element 
                calendarElement.innerText = ""; 
                dates.forEach(element => { 
                // skapa ett list element 
                let li = document.createElement("li"); 
                // ange innehåll 
                li.innerText = element.date; 
                // lägg till det omslutande ul elementet 
                calendarElement.appendChild(li); }); 
            } 
            
            // skapa en kalender dynamiskt 
            // en iteration över veckans datum 
            showWeekDates(calendarDates); 
            
            // navigera mellan veckor 
            const previous = document.getElementById("previous"); 
            const next = document.getElementById("next"); 
            // händelser - klick 
            previous.addEventListener("click", () => { 
                console.log("Gå bakåt"); 
            // kontrollera vilken dag som nu är veckans första dag 
            let currentFirstDayOfWeekElement = document.querySelector("li"); 
            console.log("currentFirstDayOfWeekElement", currentFirstDayOfWeekElement); 
            let currentMonday = currentFirstDayOfWeekElement.innerText; 
            console.log("currentMonday", currentMonday); 

            // en vecka tidigare... 
            // skapa först ett äkta datumobjekt av currentMonday 
            let day = new Date(currentMonday); 
            // en vecka tidigare 
            day.setDate(day.getDate() - 7); 
            console.log("day...", day); 
            // ändra innehållet i ul elementet 
            // hämta först veckans datum 
            calendarDates = getWeekDates(day); 
            console.log("calendarDates", calendarDates); 
            showWeekDates(calendarDates); }); 
    </script>
</body>

</html>