* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// COLORS & FONTS
$primary-color: #647C7B;
$text-background-color: #E5E5E5;
$second-background-color: #E5E5E5;
$background-color: #D9DAD8;

$primary-font: 'Quicksand', sans-serif;
$text-font: 'Poppins';

body {
    background-color: $background-color;
    height: 720px;
    
}

header {
    background-color: $primary-color;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    height: 161px;
    font-family: $primary-font;
    font-weight: 100;
    color: $text-background-color;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

    .logo {
        margin-right: 1rem;
        font-size: 0.8rem;
        font-weight: 100;
        height: 1rem;
        margin-bottom: 0;
    }

    .menu {
        text-align: right;
        font-size: 1rem;
        height: 1rem;

        button {
            border: none;
        }

        button .fa-solid, .fa-circle-plus {
            font-size: 1.5rem;
            border: none;
            background-color: $primary-color;
            color: $text-background-color;
        }

    }

    .month {  
        margin-top: -1rem; 
    }
}

main {
    background-color: $background-color;
    //height: 10rem;
    position: relative;
    margin-top: 0;
    height: 370px;
}

// START

.start-section {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    text-align: center;
    padding: 10rem;

    .rectangle {
    position: absolute;
    width: 812.03px;
    height: 414.08px;
    left: -73.66px;
    top: 361.28px;
    background: #465756;
    box-shadow: -40px 40px 40px 40px rgba(0, 0, 0, 0.30);
    transform: rotate(-39deg);
    }


.logotype {

    .fa-solid, .fa-calendar-check {
        color:#E5E5E5;
        font-size: 77px;
        text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
        margin-top: 2rem;
    }

}

.about {
    width: 20rem;
    padding: 2rem;
    z-index: 2;

        h1 {
            font-family: $primary-font;
            font-weight: 300;
            font-size: 2rem;
            color: $text-background-color;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
        }

        p {
            font-family: $text-font;
            color: $text-background-color;
            font-weight: 300;
            font-size: 14px;
            padding: 0.2rem;
        }
         
    }

    .welcome {
        background-color: $text-background-color;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-family: $text-font;
        font-weight: 500;
        color: $primary-color;
        border-style: none;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
        z-index: 2;
        margin-top: 2rem;

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }

}

// CREATE

.create-calendar {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    margin: 2rem;
    margin-top: 7rem;

    h1 {
        font-family: $primary-font;
        font-weight: 300;
        font-size: 2rem;
        color: $primary-color;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    .get-started {
        background-color: $text-background-color;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-family: $text-font;
        font-weight: 500;
        color: $primary-color;
        border-style: none;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.05));
        z-index: 2;
        margin-top: 2rem;

        a {
            text-decoration: none;
            color: $primary-color;
            padding: 2rem;
            text-transform: uppercase;
            font-family: $primary-font;
        }
    }
}

// INDEX

.week-section {
    background-color: $second-background-color;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
    width: 21rem;
    height: 10rem;
    border-radius: 0.4rem 0.4rem 0 0;
    z-index: 1;
    margin-top: -4rem;
    position: absolute;
    margin-left: 0.7rem;

    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
    color: $primary-color;
    text-transform: uppercase;

    h3 {
        font-family: $primary-font;
        font-weight: 100;
        letter-spacing: 0.1rem;
        font-size: 20px;
    }
    

    .week-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0.7rem;
        margin-top: 0.5rem;
    }

    .weekdays {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0.5rem;
        font-size: 20px;
        font-weight: 300;
        font-family: $primary-font;
        justify-content: center;
        margin-top: 0.5rem;

        /*.mon:active {
        background-color: $primary-color;
        color: white;
        border-radius: 50%;
        padding: 0.5rem;
        }*/
    }


    #calendar-dates {
        font-size: 12px;
        padding: 0.5rem;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    }
}

#event-creator {
    background-color: $primary-color;
    color: $text-background-color;
    margin-left: 1.8rem;
    width: 300px;
    padding: 5rem;
    box-shadow: (0px 4px 6px rgba(0, 0, 0, 0.10));
    border-radius: 0.2rem;
    font-family: $primary-font;
    z-index: 20;
    position: absolute;
    display: none;
    transition: 1s linear 2s;
    text-align: center;

    form {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .event-button {
        padding: 0.7rem;
        border-radius: 0.5rem;
        border: none;
        box-shadow: (0px 4px 6px rgba(0, 0, 0, 0.10));
        color: $primary-color;
    }

    input {
        width: 200px;
        padding: 0.2rem;
        border-radius: 0.2rem;
        border: none;
        margin-right: 10rem;
        margin: 0.2rem;
    }

    #title {
        margin: 0.2;
        height: 35px;
    }

    #date {
        padding: 0.5rem;
        margin: 0.2rem;
        width: 200px;
        color: $primary-color;
    }
}

#overlay-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $primary-color;
        opacity: 50%;
        display: none;
        z-index: 2;
}


// EVENTS 


#show-all {
    border: none;
    padding:0.5rem;
    text-align: center;
    margin: auto;
    width: 200px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: $background-color;
    color: $primary-color;
    font-family: $primary-font;
    text-align: center;
    display:grid;
    align-items: center;
    margin-bottom: 1rem;
    text-shadow: 2rem;
}

ul {
    margin-top: 6rem;

  
}

ul li {
    list-style: none;
    margin: 0.7rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    text-align: center;
    box-shadow: (0px 4px 6px rgba(0, 0, 0, 0.05));

    

    #element-date {
        background-color: $primary-color;
        padding: 1.7rem;
        //width: 15px;
        color: $text-background-color;
        font-family: $primary-font;
        justify-content: center;
        border-radius: 0.2rem 0 0 0.2rem;
        text-transform: uppercase;

    }

    .element-title {
        padding: 1.5rem;
        background-color: $second-background-color;
        color: $primary-color;
        font-family: $primary-font;
        display: grid;
        justify-content: left;
        align-items: center;
    }

    .edit {
        border: none;
        color: $primary-color;
        background-color: $second-background-color;

        .fa-solid, .fa-pen {
            font-size: 1rem;
            border: none;
        }
    }

    .remove {
        border: none;
        margin: 0;
        color: $primary-color;
        border-radius: 0 0.2rem 0.2rem 0;
        background-color: $second-background-color;
         
    }
}

.remove-this {
    display: none;
    visibility: hidden;
}

.show-all {
    visibility: visible;
}



// FOOTER

footer {
    background-color: $primary-color;
    color: $second-background-color;
    font-family: $primary-font;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2.5rem;
    text-align: center;
    width: 100%;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
    margin-top: 7rem;

}

